name: (Prod) Build and deploy
on:
  push:
    branches:
      - prod

jobs:
  build:
    name: Build
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Get next version
        uses: reecetech/version-increment@2023.9.3
        id: version
        with:
          scheme: calver

      - name: Install dependencies
        run: npm ci

      - name: Build dependencies
        run: npm run build
        env:
          CI: false
          VITE_BASE_URL: ${{ vars.VITE_BASE_URL }}
          VITE_API_BASE_URL: ${{ vars.VITE_API_BASE_URL }}
          VITE_STORAGE_URL: ${{ vars.VITE_STORAGE_URL }}
          VITE_APP_BASE_PATH: ${{ vars.VITE_APP_BASE_PATH }}

      - name: Archive production artifact
        uses: actions/upload-artifact@v4.0.0
        with:
          name: build
          path: build

      - name: Release version
        uses: softprops/action-gh-release@v1
        if: ${{ github.ref_name == github.event.repository.default_branch }}
        with:
          draft: false
          prerelease: false
          tag_name: "${{ steps.version.outputs.VERSION }}"

  deploy:
    name: Deploy
    environment: prod
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Download artifact
        uses: actions/download-artifact@v4.0.0
        with:
          name: dist
          path: dist
      - name: Sync files to hosting
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ${{ secrets.ftp_server }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          local-dir: dist/
